<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="F:/Github/credit-suisse/user-details-service/user-details-service/InternalLogs/internallog.txt">
		
	<targets>
		<target xsi:type="AsyncWrapper" name="AllAsyncWrapper" queueLimit="10000" batchSize="1000">
			<target xsi:type="File"
					name="allfile"
					fileName="F:\Github\credit-suisse\user-details-service\user-details-service\InternalLogs\nlog-all-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.log"
					archiveFileName="F:\Github\credit-suisse\user-details-service\user-details-service\InternalLogs\archives\nlog-all-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.archive-{#}.zip"
					archiveEvery="Day"
					maxArchiveDays="7"
					archiveNumbering="DateAndSequence"
					enableArchiveFileCompression="True"
					layout="${longdate} ${level:uppercase=true} ${message}"/>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Information" writeTo="AllAsyncWrapper" />
	</rules>
</nlog>